*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    overflow-x: hidden;
    background-image: url(/images/bg-dash.jpeg);
}

.navbar-toggler{
    text-decoration: none;
}

.fullcard{
    position: relative;
    min-width: 80%;
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 4rem;
    margin: auto;
    margin-top: 2.5rem;
    padding: 2.5rem;
    box-shadow: 0px 0px 90px -40px rgba(0,0,0,0.16);
    background-color: #fff;
}



@media screen and (max-width: 991px) {
    aside {
      visibility: hidden;
      clear: both;
      float: left;
      margin: 0;
      width: 0;
      display: none;
      height: 0;
      padding: 0;
    }

    .profile{
       
    }

    .fullcard{
      border-radius: none;
      box-shadow: none;
      border: none;
      min-width: 0%;
    }
  }

  @media screen and (min-width: 991px) {
    .navbar-nav {
      visibility: hidden;
      clear: both;
      float: left;
      margin: 10px auto 5px 20px;
      width: 28%;
      display: none;
    }
  }

  /* No greater than 1199px, no less than 768px */
  @media (max-width:1199px) and (min-width:768px) {
    img, .pic {
        width: 80px;
    }
   
}​

ul, .dash{
  border-right: 1px solid lightgrey;
}

.dash li a{
  color: #DA1552;
}



