*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    overflow-x: hidden;
}

.navbar-toggler{
    text-decoration: none;
}

.fullcard{
    position: relative;
    min-width: 80%;
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 4rem;
    margin: auto;
    margin-top: 2.5rem;
    padding: 2.5rem;
    box-shadow: 0px 0px 90px -40px rgba(0,0,0,0.16);
}




@media screen and (max-width: 991px) {
    aside {
      visibility: hidden;
      clear: both;
      float: left;
      margin: 10px auto 5px 20px;
      width: 28%;
      display: none;
    }

    .profile{
        position: absolute;
    }

    .fullcard{
      border-radius: none;
      box-shadow: none;
      border: none;
    }
  }

  @media screen and (min-width: 991px) {
    .navbar-nav {
      visibility: hidden;
      clear: both;
      float: left;
      margin: 10px auto 5px 20px;
      width: 28%;
      display: none;
    }
  }