*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    overflow-x: hidden;
}

html{
    font-family: 'Inconsolata', monospace;
}

 /* starts beating heart when page loads */
.preload{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease;
}
  
.preload-finish{
    opacity: 0;
    pointer-events: none;
}
.heart{
animation: beat 1.5s infinite;
}

@keyframes beat{
    50%{
        transform: scale(1.5);
    }
}
 /* finishes beating heart when page loads */

/*header starts */

.header{
    background-image: url(../images/background.jpg);
    background-size: cover;
    height: 100vh;
    text-align: center;
}

.logo{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mybutton-saiba{
    position: relative;
    top: 70%;
    left: 70px;
    transform: translate(-50%, -50%);
    color:#f09ead;
    background-color: #fff;
    border: 2px solid #f09ead;
    text-decoration: none;
    padding: 12px 15px;
    letter-spacing: 3px;
}

.mybutton-saiba:hover{
    color: #fff;
    background-color:#f09ead;
}

.mybutton-galeria{
    position: relative;
    top: 70%;
    left: 120px;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: #f09ead;
    border: 2px solid #fff;
    text-decoration: none;
    padding: 12px 15px;
    letter-spacing: 3px;
}

.mybutton-galeria:hover{
    color: #f09ead;
    background-color:#fff;
}

/*header finished */

/*start of nav bar*/
.menu-bar{
    background-color: #f09ead;
    text-transform: uppercase;
}

.nav-link{
    font-size: 16px;
    margin: 3px;
    color: #fff!important;
    font-weight: 500;
}
.navbar-nav{
    text-align: right;
    margin-right: 20px;
}
.menu-bar .navbar-toggler{
    padding-right: 20px;
    outline: none!important;
    border: none!important;
}
.navbar-toggler-icon{
    filter:  brightness(0) invert(2);
}
.navbar .fa{
    color: #fff;
    font-size: 26px;
}
nav.link:hover{
    font-weight: 600;
    border-bottom: 1px solid #fff;
}
.navbar-brand {
    color: #fff!important;
}

/* Nav bar finish*/


/* START of Project section */
.one{
    min-height: 350px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:  wrap;
    flex-direction: column;
}

.projeto{
    padding-top: 55px;
    padding-bottom: 55px;
    text-align: center;
}

.continue{
    text-decoration: none;
    color: #DA1552;
    font-weight: bold;
}
/* END of Project section */


/*start of news section*/

.news{
    min-height: 350px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:  wrap;
    flex-direction: column;
}

@media only screen and (max-width: 985px) {
    .news{
        min-height:100px;
    }
}

.saiba-mais{
    color: #fff !important;
    border-radius: 5px;
    background-color: #DA1552;
    padding: 3px 6px 3px 6px;
    text-align: center;
    margin-top: 15px;
    text-decoration: none !important;
}

a:hover {
    font-size: 17px;
    padding: 3px 6px 3px 6px;

  }

  button{
      min-height: 5px;
  }

/* END of NEWS section */


/* START of VIDEO section */

.vid{
    min-height: 450px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:  wrap;
}

@media only screen and (max-width: 600px) {
    .video{ 
        width: 300px;
        height: 150px;
    }
  }

  /* END of VIDEO section */


  /* START of COUNTER section */


  .middle{
    min-height: 350px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:  wrap;
    flex-direction: column;
}

.two{
    text-align: center;
}

  .counting-sec{
      padding: 5px 0;
  }
  .inner-width{
      margin: auto;
      display: flex;
      flex-wrap: wrap;
  }
  
  .col{
      flex: 1;
      text-align: center;
      padding: 20px;
  }
  
  .col i{
      font-size: 40px;
  }
  
  .num{
      font-size: 40px;
      margin: 20px 0;
  }
  /* END of COUNTER section */


  /* START OF SPONSERS SECTION */

  .sponsers{
    margin: auto;
      display: flex;
      flex-wrap: wrap;
      min-height: 300px;
      align-items: center;
    justify-content: center;
    flex-wrap:  wrap;}


  /* END OF SPONSERS SECTION */




/*START OF FOOTER*/

footer{
    height: auto;
    width: 100vw;
    padding-top: 40px;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials a{
    text-decoration: none;
    color: #DA1552;
}

.socials a i{
    font-size: 1.1rem;
}
/*END OF FOOTER*/ 

/*DIRETOS & LEIS*/
.direito a{
    color: #DA1552;
} 

.direitos{
    min-height: 700px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:  wrap;
    flex-direction: column;
}
/*DIREITOS & LEIS*/ 

/*START CAMPANHA 2021*/ 
.calen{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:  wrap;
    flex-direction: column;
}

.calen ul li{
    text-align: left;
    font-weight:bolder;
}

.calen ul li img{
    padding: 10px; 
}

.title{
    color: #f09ead;
}

.header1{
    background-image: url(../images/header.jpg);
    background-size: cover;
    height: 50vh;
    text-align: center;
    margin-top: 80px;
}

.requistos{
    min-height: 400px;
}

.header2{
    background-image: url(../images/header2.jpg);
    background-size: cover;
    height: 50vh;
    text-align: center;
    margin-top: 80px;
}

.subtitle{
    color:#696969;
    padding: 25px;
}

.list li{ 
    margin: 10px;
}

.center{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:  wrap;
    flex-direction: column; 
    padding: 40px;
}

.center a{
    font-size: 20px;
}

/*END CAMPANHA 2021*/ 

/*START OF LOGIN*/ 
.form-container{
    position: absolute;
    width: 20rem;
    height: 20rem;
    top: 15vh;
    background: #E8E8E8;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}
 .bg{
    background-image: url(../images/background.jpg);
    background-size: cover;
    height: 100vh;
    text-align: center;
 }
 .mybutton{
     background-color: #DA1552;
     border: none;
 }
.login{
    background-color: transparent;
}
/*END OF LOGIN*/ 

/*START OF CONTACT*/

.form-contato{
}

/*END OF CONTACT*/ 

/* START OF GALLERY*/
.item{
    transition: .5 ease-in-out;
}
.item:hover{
    filter: brightness(80%);
}
/*ENF OF GALLERY*/



/* START OF DASHBOARD*/

.hr-dash{
    text-align: center;
    border-left: 1px solid grey;
}

.dash ol li a{
    line-height: 4rem;
}

.

/* END OF DASHBOARD */