*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
}

html{
    font-family: 'Inconsolata', monospace;
}

 /* starts beating heart when page loads */
.preload{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease;
}
  
.preload-finish{
    opacity: 0;
    pointer-events: none;
}
.heart{
animation: beat 1.5s infinite;
}

@keyframes beat{
    50%{
        transform: scale(1.5);
    }
}
 /* finishes beating heart when page loads */

/*header starts */

.header{
    background-image: url(../images/background.jpg);
    background-size: cover;
    height: 100vh;
    text-align: center;
}

.logo{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button{
    text-decoration: none;
    padding: 12px 15px;
    letter-spacing: 3px;
}

.saiba{
    position: relative;
    top: 70%;
    left: 70px;
    transform: translate(-50%, -50%);
    color:#f09ead;
    background-color: #fff;
    border: 2px solid #f09ead;
}

.saiba:hover{
    color: #fff;
    background-color:#f09ead;
}

.galeria{
    position: relative;
    top: 70%;
    left: 120px;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: #f09ead;
    border: 2px solid #fff;
}

.galeria:hover{
    color: #f09ead;
    background-color:#fff;
}

/*header finished */

/*start of nav bar*/

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #f09ead;
    position: sticky;
    top: 0;
}

.NavLogo{
    color: rgb(255, 247, 247);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links a{
    color: rgb(255, 247, 247);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav-links li{
    list-style: none;
}


/* Nav bar finish*/

/*start of project section*/

.projeto{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    color: #000;
    margin-top: 4px;
    font-size: 30px;
}

.center-text{
    width: 100%;
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    font-size: 25px;
}

.continue{
    text-decoration: none;
    color: #DA1552;
}

/*end of project section*/

/*start of news section*/

.section-pink{
    background-color: #f09ead;
    min-height: 500px;
}

.section-news{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    flex-wrap: wrap;
}

.news{
margin-left: 5rem;
margin-top: 60px;}

.foto-des{
    font-size: 25px;
    padding-top: 5rem;
    width: 100%;
    max-width: 800px;
}


.place{
position: relative;
padding-top: 5rem;
}


/*end of news section*/

/*button*/


.button{
    background-color: #DA1552;
    display: block;
    width: 115px;
    height: 25px;
    text-align: center;
    border-radius: 18px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
}

/*button*/

/*start of  video section*/
.section-white{
    min-height: 500px;
}

.videosize{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 60px;
}

.section-video{
flex-wrap: wrap;
display: flex;
justify-content: center;
margin: 0 auto;
position: relative;
}

/*end of video section*/

/*start of  reals section*/

.title{
  position: absolute;
  text-align: center;
  margin-top: 25px;
  font-size: 35px;
}
.title-desc{
    font-size: 25px;
  position: absolute;
  text-align: center;
  margin-top: 70px;
}
.real-desc{
  position: absolute;
  text-align: center;
  margin-top: 75px;
}
.section-real{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}
.count{
    position: relative;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 225px;
}

.text{
  display: flex;
  position: absolute;
  font-size: 50px;
  margin-left: 65px;
}
.cap1{
  position: absolute;
  white-space: nowrap;
  margin-left: -40px;
  margin-top: 6px;
}
.cap2{
  position: absolute;
  white-space: nowrap;
 margin-left: 20px;
  margin-top: 6px;
}
.cap3{
  position:absolute;
  white-space: nowrap;
  margin-left: 20px;
  margin-top: 6px;
}
.cap4{
  position:absolute;
  white-space: nowrap;
  margin-left: 5px;
  margin-top: 6px;
}
figcaption{
    font-size: 25px;
}

@media all and (max-width: 1758px){
    
}

/*end of reals section*/
.patro{
    position: relative;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 225px;
}

/*start of sponser section*/


/* end of sponser section */

/*start of footer*/
footer{
  position: relative;
  margin: 50px;
  display: flex;
  justify-content:space-between;
}
.contato div{
  font-size: 30px;
  margin-left: 49px;
  margin-top: 100px;
}
.rede-sociais{
  margin-top: 2rem;
  margin-left: 2rem;
}

.navfooter{
  margin-right: 30px;
  display: flex;
  flex-wrap: wrap;
}

.m1{
    margin-left: 5rem;
    margin-right: 5rem;
}
.m2{
    margin-left: 5rem;
    margin-right: 5rem;
}
.navfooter li{
    list-style: none;
}
.navfooter a{
    text-decoration: none;
    color: #fff;
    line-height: 6rem;
    font-size: 25px;
}
.bgpink{
    background-color: #f09ead;
    min-height: 350px;
    position: relative;
}

.copy{
    background-color: #f09ead;
    min-height: 50px;
    position: relative;
}
p.copyright {
    position: absolute;
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 25px;
    bottom: 1.5rem;
}

/*end of footer*/